
.expositorio_nuevo{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);

    .expositorio-proyectos{
        align-items: center;
        justify-content: center;
    }

}

.proyecto{
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: $secundariooscuro;
    grid-template-columns: repeat(1,1fr);
    padding: 1rem;

    @include tablet(){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

    &:hover{
        background-color: $secundario;
    }

    .proyecto-imagen{
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: 1px solid $claro;
        height: 50vh;
        cursor: pointer;
    }

    .market{
        background-image: url(/build/img/market-ropa-index.webp);
    }
    
    .caffe{
        background-image: url(/build/img/blog-cafe-index.webp);
    }
    
    .festival{
        background-image: url(/build/img/festival-index.webp);
    }
    .barberia{
        background-image: url(/build/img/barberia-index.webp);
    }
    .upgrade{
        background-image: url(/build/img/upgrade-index.webp);
    }
    .to-do{
        background-image: url(/build/img/todo-index-2.webp);
    }

    .proyecto-cartel{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgba(0,0,0,.5);
        border-radius: 5px;
        color: $claro;
        text-align: center;
        font-weight: 700;
        height: 5vh;
        width: 50%;
        right: 0px;

        
    }
    
    @include tablet(){
        .proyecto-cartel{
            height: 5vh;
            width: 25%;
        }
    }

    .proyecto-informacion{
        color: $claro;
    }
    
    .proyecto-titulo{
        text-align: center;
        text-transform: uppercase;
    }

    .boton-link{
        background-color: $terciario;
        border: 1px solid $claro;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem auto;
        width: 50%;
        font-weight: 800;

        &:hover{
            cursor: pointer; 
        }

    }

}

.link{
    color: $primario;
    font-size: 2rem;
    font-family: $fuente_tipo;
    font-weight: bold;
}

// @media (max-width:375px){
//     h3{
//         font-size: 3rem;
//     }
// }

// section{
//     grid-column: 1/3;
// }

