
.sobremi{
    background-image: url(/build/img/imagen-6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sombra{
    border-radius: 0%;
}